body {
     background-image:url("../images/Sukuna1.jpeg");
     background-size: cover;
 }
 
 /* Estilo básico para el cuerpo de la página */
 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
 }
 
 /* Estilo para el encabezado */
 header {
     color: #fff;
     padding: 20px;
     text-align: center;
 }
 
 /* Estilo para el título h1 en el encabezado */
 header h1 {
     margin: 0;
 }
 
 /* Estilo para la navegación */
 nav ul {
     list-style: none;
     padding: 0;
     text-align: center;
 }
 
 nav ul li {
     display: inline;
     margin-right: 30px;
 }
 
 nav ul li a {
     text-decoration: none;
     color: #fff;
     padding: 5px 20px;
     border-radius: 7px;
     background-color: #000000;
 }
 
 nav ul li a:hover {
     background-color: #777;
 }
 
 #pres1{
     background-color: #e72e2e;
     border-radius: 10px;
     color: black;
     font-size:28px;
     text-align:center;
     font-family:'Times New Roman', Times, serif;
     width: 300px;
     position: absolute;
     top: 20%;
     left: 15%;
     
 }
 
 